{% extends 'base.html' %}

{% block content %}
    <button type="button" class="m-3 btn btn-light" onclick="location.href='/log/btn_geni_click/1'">식품-과일</button>
    <button type="button" class="m-3 btn btn-light" onclick="location.href='/log/btn_geni_click/2'">식품-견과/건과</button>
    <button type="button" class="m-3 btn btn-light" onclick="location.href='/log/btn_geni_click/3'">식품-채소</button>
    <button type="button" class="m-3 btn btn-light" onclick="location.href='/log/btn_geni_click/4'">식품-쌀/잡곡</button>
    <button type="button" class="m-3 btn btn-light" onclick="location.href='/log/btn_geni_click/5'">식품-생수/음료</button>
    <button type="button" class="m-3 btn btn-light" onclick="location.href='/log/btn_geni_click/6'">식품-건강식품</button>
    <button type="button" class="m-3 btn btn-light" onclick="location.href='/log/btn_geni_click/7'">식품-간편요리</button>
    <button type="button" class="m-3 btn btn-light" onclick="location.href='/log/btn_geni_click/8'">식품-간편식</button>
    <button type="button" class="m-3 btn btn-light" onclick="location.href='/log/btn_geni_click/9'">식품-유제품</button>
    <button type="button" class="m-3 btn btn-light" onclick="location.href='/log/btn_geni_click/10'">생활용품-헤어</button>
    <button type="button" class="m-3 btn btn-light" onclick="location.href='/log/btn_geni_click/11'">생활용품-바디/세안</button>
    <button type="button" class="m-3 btn btn-light" onclick="location.href='/log/btn_geni_click/12'">생활용품-세탁세제</button>
    <button type="button" class="m-3 btn btn-light" onclick="location.href='/log/btn_geni_click/13'">생활용품-건강</button>
    <button type="button" class="m-3 btn btn-light" onclick="location.href='/log/btn_geni_click/14'">생활용품-수납/정리</button>
    <button type="button" class="m-3 btn btn-light" onclick="location.href='/log/btn_geni_click/15'">생활용품-안전</button>
    <button type="button" class="m-3 btn btn-light" onclick="location.href='/log/btn_geni_click/16'">생활용품-생활잡화</button>
    <button type="button" class="m-3 btn btn-light" onclick="location.href='/log/btn_geni_click/17'">뷰티-헤어</button>
    <button type="button" class="m-3 btn btn-light" onclick="location.href='/log/btn_geni_click/18'">뷰티-향수</button>
    <button type="button" class="m-3 btn btn-light" onclick="location.href='/log/btn_geni_click/19'">뷰티-남성화장품</button>
    <button type="button" class="m-3 btn btn-light" onclick="location.href='/log/btn_geni_click/20'">뷰티-여성화장품</button>
{% endblock %}